.mainDiv{
    box-sizing: border-box;
    margin: 25px;
    height: 600px;
    width: 90%;
    position: relative;
}
.header{
    height: 100px;
    display: flex;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
}
h1{
margin: 50px;
vertical-align: center;
color: blueviolet;
}

.address{
    margin-top: 0 !important;
    margin-bottom: 0rem !important;
    color: cornflowerblue;
    font-weight: bold;
    
}

.footer{
    bottom: 10px;
   }

.inLine{
    display: inline;
}