.maindiv{
    margin: 50px; 
    
}

.formInput{
   width: 250px;
}
.pages{
    padding: 10px;
    border: 1px solid blue;
}
.pagesList{
    display: flex;
     list-style-type:none;
     float: right;
     
}     